<div class="project new-form">
  <a href ng:click="showForm = !showForm" class="right">toggle</a>
  <h2>Create New Project</h2>
  <div ng:show="showForm">
    <label for="new-prj-name">Name:</label> <input type="text" name="newProject.name" id="new-prj-name" />
    <textarea name="newProject.description"></textarea>
    <button ng:disabled="{{!isAuth()}}" ng:click="createProject()">CREATE</button>
  </div>
</div>

<div>
  <h2>List of projects ({{projects.items.length}})</h2>
  <ul class="project list">
    <li ng:repeat="project in projects.items">
      <h3>{{project.name}}</h3>
      <p>{{project.description | textFormat | html}}</p>
      <a href ng:click="deleteProject(project)" class="right">delete</a>
      <div class="wrapper"></div>
    </li>
  </ul>
</div>
