<div class="ticket new-form">
  <a href ng:click="showForm = !showForm" class="right">toggle</a>
  <h2>Create New Ticket</h2>
  <div ng:show="showForm">
    <textarea name="newTicket.description"></textarea>
    <button ng:disabled="{{!isAuth()}}" ng:click="createTicket()">CREATE</button>
  </div>
</div>

<div>
  <h2>List of tickets ({{tickets.items.length}})</h2>
  <ul class="ticket list">
    <li ng:repeat="ticket in tickets.items" ng:class="ticket.state.toLowerCase()">
      <span class="ticket-state" ng:class="ticket.state.toLowerCase()">{{ticket.state}}</span>
      <span class="ticket-number">#{{ticket.number}}</span> 
      by <span class="ticket-author">{{ticket.Author|userInfo}}</span> 
      at <span class="ticket-created">{{ticket.created | gmtdate: 'd.M.yyyy HH:mm:ss'}}</span>
      <span ng:show="ticket.Assignee">assigned to <span class="ticket-assignee">{{ticket.Assignee|userInfo}}</span></span>
      <span ng:show="!ticket.Assignee">not assigned</span><br />

      <p class="ticket-description">{{ticket.description | textFormat | html}}</p>

      <!-- revisions -->
      <div ng:show="revLoaded">
        <h4>Ticket History</h4>
        <ul>
          <li ng:repeat="revision in ticket.Revisions.items">
            <b>[{{revision.state}}]</b> {{revision.comment}}
          </li>
        </ul>
      </div>

      <!-- new revision -->
      <div class="ticket-revision new-form" ng:show="showNewRevForm" ng:controller="RevisionFormCtrl">
        <label for="new-rev-assignee">Assign to:</label>
        <select name="newRev.assignee" id="new-rev-assignee">
          <option value="">--</option>
          <option ng:repeat="user in users.items" value="{{user.url}}">{{user|userInfo}}</option>
        </select>

        <label for="new-rev-state">Change state to:</label>
        <select name="newRev.state" id="new-rev-state">
          <option value="">--</option>
          <option ng:repeat="state in STATES" value="{{state}}">{{state}}</option>
        </select><br />

        <label for="new-rev-comment">Comment:</label>
        <input type="text" name="newRev.comment" id="new-rev-comment" />

        <button ng:click="createRevision(newRev, ticket)">ADD REVISION</button>
      </div>

      <!-- ticket actions -->
      <div class="ticket-actions">
        <a href ng:click="showNewRevForm = !showNewRevForm">new revision</a> | 
        <span ng:show="!revLoaded"><a href ng:click="loadDetails(ticket); revLoaded = true;">load revisions</a> ({{ticket.Revisions.countTotal()}}) | </span>
        <a href ng:click="deleteTicket(ticket)">delete ticket</a>
      </div>
      <div class="wrapper"></div>
    </li>
  </ul>
</div>
